body{
    background-color: hsla(0, 0%, 0%, 0.897);
    
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.Header{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    padding-top: 0;
    color: aliceblue;
    height: 100px;
    width: 1270px;
    font-size: 2rem;
    padding-left: 10px;
}
.Header h2{
    margin-top: 20px;
}
.Header ul{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;   
}
.Header li{
    
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 20px;
}
.Header ul :visited{

    color: aliceblue;
}
.Header ul :hover{
    color: rgb(228, 177, 112);
    text-decoration: none;
}
.Header h2:hover{
    color: rgb(228, 177, 112);
    transform: translate(4%);
}
.footer{
    color: aliceblue;
    position: absolute;
    left: 20vw;
    top: 410vh;
    text-transform: capitalize;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    font-size: 3.4em;
}
.right{
    position: absolute;
    top: 300px;
    left: 1100px;
    color: aliceblue;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.right img{
    height:290px;
    width: 190px;
}
.Sidebar{
    position: absolute;
    top: 290px;
    left: 99px;
    color: aliceblue;
    font-family:monospace;
    width: 340px;
    font-size: 1.8rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid white; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
    typing 3s steps(40) infinite,
    blink-caret 10s step-end infinite;
}

@keyframes typing {
    from { width: 0 ;
        font-family: 'Courier New', Courier, monospace;
    }
    to { 
         color: rgb(228, 177, 112);
         width: 340px;
         font-family: monospace;
        }
   }
   
   /* The typewriter cursor effect */
   @keyframes blink-caret {
       from, to { border-color: transparent }
       50% { border-color: white; }
    }

.sidebar1{
    position: absolute;
    top: 354px;
    left: 99px;
    color: aliceblue;
    font-family:monospace;
    width: 800px;
    animation: color 11s ease infinite;
    font-size: 1.63rem;
    }
    @keyframes color {
        0%{
            color: aliceblue;
        }
        24%{
            color: rgb(226, 205, 178);
            
        }
        24.9%{
            color: rgb(226, 205, 178);
            
        }
        49.9%{
            color: rgb(202, 223, 154);
            
        }
        50%{
            color: rgb(202, 226, 162);
            
        }
        74%{
            color: rgb(142, 195, 216);
            
        }
        74.9%{
            color: rgb(142, 205, 221);
            
        }
        100%{
            color: rgb(240, 140, 195);
            
        }
        
}
.Aboutt{
    
    font-size: 1.5rem;  
}
.Aboutt img{
    height: 70px;
    
}
.Aboutt h1{
    color: whitesmoke;
    position: absolute;
    top: 720px;
    left: 570px;
    font-size: 3.4rem;  
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.About{
    position: absolute;
    top: 970px;
    left: 90px;
    color: aliceblue;
    height: 100px;
    width: 300px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

}

.About1{
    position: absolute;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    top: 970px;
    left: 570px;
    color: aliceblue;
    height: 100px;
    width: 300px;
    
}
.About2{
    position: absolute;
    top: 970px;
    left: 990px;
    color: aliceblue;
    height: 100px;
    width: 320px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    
}
.About3{
    position: absolute;
    top: 1400px;
    left: 90px;
    color: aliceblue;
    height: 100px;
    width: 300px;   
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.About4{
    position: absolute;
    top: 1400px;
    left: 570px;
    color: aliceblue;
    height: 100px;
    width: 300px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.About5{
    position: absolute;
    top: 1400px;
    left: 990px;
    color: aliceblue;
    height: 200px;
    width: 300px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.About:hover{
    transform: scale(1.2,1.2);
}
.About1:hover{
    transform: scale(1.2,1.2);
}
.About2:hover{
    transform: scale(1.2,1.2);
}
.About3:hover{
    transform: scale(1.2,1.2);
}
.About4:hover{
    transform: scale(1.2,1.2);
}
.About5:hover{
    transform: scale(1.2,1.2);
}
.Contact{
    color: aliceblue;
    position: absolute;
    top: 330vh;
    left: 300px;    
    background-color: rgba(29, 7, 7, 0.082);
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.Contact:hover{
    background-color: rgba(0, 0, 0, 0.322);
    color: rgb(211, 186, 154);

}
.Contact-form {
    height: 300px;
    width: 680px;
    font: 1.7em sans-serif;
    border: 4px solid rgba(173, 207, 80, 0.781);
    border-radius: 55px;
    padding: 33px 40px 89px 60px;
}
.Contact-form input{
    
    border-radius: 30px;
    width: 400px;
    margin: 0px 0px 17px 0px;
    padding: 3px 9px 3px 20px;
    font-size: 1.5rem;
}
.Contact-form textarea{
    border-radius: 30px;
    padding: 10px 0px 0px 20px;
    text-transform: capitalize;
    font-size: 1.59rem;
}
.Contact-form button{
    border: 2px solid saddlebrown;
    border-radius: 30px;
    padding: 10px 49px 10px 49px;
    margin: 40px 0 0 210px;
    font-size: 1.7rem;
}